*{
	font-family: 'Roboto';
}

.painel_preto{
    display:flex;
	width:250px;
    height:stretch;
    background-color:#000000;
    border-radius:18px;
    transition-duration: 2s;
    
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.botoes_paginas{
    display:flex;
    height:600px;

    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-grow:2;
}

.b_inicial{
    display:flex;
	width:180px;
	height:40px;
	border-radius:20px;
    font-size:18pt;
    background-color:#FFBA08;
    transition:0.5s;
    outline:none;

    justify-content: center;
    align-items: baseline;
    flex-direction: row;

}

.inicio{

    text-decoration: none;
}

.b_perfil{
    display:flex;
	width:180px;
	height:40px;
	border-radius:20px;
	font-size:18pt;
    background-color:#FFBA08;
    outline:none;

    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}

.b_reunioes{
    display:flex;
	width:180px;
	height:40px;
	border-radius:20px;
	font-size:18pt;
    background-color:#FFBA08;
    outline:none;

    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}

.b_eventos{
    display:flex;
	width:180px;
	height:40px;
	border-radius:20px;
	font-size:18pt;
    background-color:#FFBA08;
    outline:none;
    
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}

.b_servicos{
    display:flex;
	width:180px;
	height:40px;
	border-radius:20px;
	font-size:18pt;
    background-color:#FFBA08;
    outline:none;
    
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}

.b_alugados{
    display:flex;
	width:180px;
	height:40px;
	border-radius:20px;
	font-size:18pt;
    background-color:#FFBA08;
    outline:none;
    
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}

.b_logout{
    display:flex;
	width:180px;
	height:40px;
	border-radius:20px;
	font-size:18pt;
    background-color:#FFBA08;
    outline:none;
    
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}

.triangulo{
    width:0px;
	height:0px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
    border-left: 20px solid #F48C06;
    border-color: none;
    outline: none;
    background-color: transparent;
}