@keyframes pop{
    0%{
        opacity:0%;
    }
    100%{
        opacity:100%;
    }
}

.conteudo-administracao{
    display: flex;
    height:stretch;
    width:100vw;
    padding-bottom:40px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction:column;
}

.administracao-relatorios{
    display: flex;
    width:100vw;
    padding-top:40px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction:column;
}

.administracao-relatorios-pop{
    display: flex;
    position: hidden;
    width:100vw;
    padding-left:120px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction:column;
}

.administracao-botao{
    display: flex;
    width:65vw;
    height:100px;
    margin-top:20px;
    outline:none;
    border-radius:30px;
    border: 3px solid #f48c06;
    color:white;
    background:#f48c06;
    font-size:17px;
    transition: 0.3s ease-in-out;
    animation:pop 1s;

    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction:column;
}

.administracao-botao:hover{
    color: #f48c06;
    background:white;
    border: 3px solid #f48c06;
}

.administracao-botao-pop{
    display: flex;
    width:65vw;
    height:100px;
    margin-top:20px;
    outline:none;
    border-radius:30px;
    border: 3px solid #00b4d8;
    color: #00b4d8;
    background:white;
    font-size:17px;
    transition: 0.3s ease-in-out;
    animation:pop 1.3s;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction:column;
}