@-ms-viewport{
	
    width: device-width;
    
}

*{

    font-family: 'Roboto';

}

body{

    display:flex;
    width: stretch;
    flex-direction: column;
    justify-content: center;


}

.Caixa_lembrar{

    display:flex;
    width:stretch;
    height:25px;
    justify-content: center;
    align-items:center;

}

.lembrar{

    color: rgba(42, 157, 143, 1);
    font-size: 18px;

}

.Caixa_botao{

    display:flex;
    width:stretch;
    height:100px;
    justify-content: center;
    align-items:center;

}

.botao_entrar{

    background-color: #ffba08;
    width:750px;
    height:50px;
    outline:none;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;

}