.card-evento{
    display:flex;
    width: fit-content;

    justify-content: space-between;
    align-items: center;
    flex-direction:column;
}

.face-capa{
    display:flex;
    width:300px;
    height:300px;
    transition: 0.5s ease-in-out;
    z-index: 1;

    justify-content: center;
}

.card-evento:hover .face-conteudo{
    margin-top:0%;
}

.card-foto{
    width:100%;
    height:100%;
    transition:0.1s ease-in;
}

.face-conteudo{
    display:flex;
    width:300px;
    height:300px;
    background-color: #e85d04;
    transition: 0.3s ease-in;
    margin-top:-100%;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction:column
}

.card-nome{
    text-align: center;
}

.card-descricao{
    width:stretch;
    text-align: center;
}

.card-local{
    width:stretch;
    text-align: center;
}

.card-data{
    display:flex;
    width:stretch;

    justify-content: space-evenly;
}