.cardfuncionario{
    display:flex;
    width:225px;
    height:400px;
    background-color: #f1faee;
    border-radius: 30px;
    margin: 60px;
    transition:300ms ease-in-out;

    align-items: center;
    align-content: center;
    flex-direction: column;
}

.cardfuncionario:hover{
    width:250px;
    height:430px;
}

.cardfuncionario:hover .funcionario-foto{
    transform: scaleY(1.1) scaleX(1.1);
}

.funcionario-fundo{
    width:100%;
    height:40%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    border-radius: 30px 30px 0px 30px;
}

.funcionario-foto{
    width:120px;
    height:120px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -40%;
    z-index: 1;
    transition: 300ms ease-in-out;
}

.caixa-informacoes-card-funcionario{
    display:flex;
    width: 100%;
    height:30%;

    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.caixa-acoes{
    display:flex;
    width: 100%;
    height:5rem;

    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.atualizar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border:none;
    outline:none;
    background-color: #f48c06;
}

.icone-botao-acao{
    opacity:0.5;
}

.escalas{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border:none;
    outline:none;
    background-color: #f48c06;
    color:white;
}

.deletar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border:none;
    background-color: #f48c06;
}

.deletar:focus .cardfuncionario children{
    visibility: hidden;
}

.desaparecer-caixa{
    display:none;
    opacity:0;
    width:225px;
    height:400px;;
    position:absolute;
    z-index: 1;
    background:lightblue;
    border-radius: 30px;
    transition:0.3s ease-in-out;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction:column
}

.desaparecer-caixa:hover{
    width:250px;
    height:430px;
}

.desaparecer-mensagem-caixa{
    width:90%;
    padding-bottom:20px;
    overflow-wrap: break-word;
    word-break: break-all;
    text-align: justify;
}

.desaparecer-botao{
    background:none;
    border:none;
    outline:none;
    padding-left:30px;
    padding-right:30px;
    transition:0.3s ease-in-out;
}

.desaparecer-botao:hover .icone-desaparecer{
    color: #f48c06;
}

.icone-desaparecer{
    color: #0096c7;
    transition:0.3s ease-in-out;
}