.conteudo-evento{
    display: flex;
    width:100vw;
    height:100vh;
    overflow-y: scroll;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction:row;
    flex-wrap: wrap;
}

.secao-cards-eventos{
    width: 100vw;
    height:80vh;
}