::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

.fundo{
    display:flex;
    width: stretch;
    height:stretch;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.caixalogo{
    display:flex;
    width:stretch;
    height:300px;
    justify-content: center;
    align-items: center;
}
  
.logo{
    font-family: 'Pacifico';
    font-size:80px;
}

.Caixa{
    display:flex;
    width:stretch;
    height:75px;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.tag{
    color:#E85D04;
    font-size: 25px;
}

.caixa_tag_input{
    width: 700px;
    height:25px;
    background-color: #e5e5e5;
    outline: none;
    border-radius: 30px;
    border:none;
    padding-left:15px;
}

.Caixa_lembrar{
    display:flex;
    width:stretch;
    height:25px;
    justify-content: center;
    align-items:center;
}

.lembrar{
    color: rgba(42, 157, 143, 1);
    font-size: 18px;
}

.Caixa_botao{
    display:flex;
    width:stretch;
    height:100px;
    justify-content: center;
    align-items:center;
}

.botao_entrar{
    background-color: #e85d04;
    width:750px;
    height:50px;
    outline:none;
    border-radius: 30px;
    border:3px solid #e85d04;
    text-align: center;
    font-size: 30px;
    transition:0.3s ease-in-out;
}

.entrar-label{
    color:white;
    transition:0.3s ease-in-out;
}

.botao_entrar:hover {
    background-color:white;
    border-color:8px solid #e85d04;
}

.botao_entrar:hover .entrar-label{
    color:#e85d04;
}