.telareunioes{
    display: flex;

    justify-content: flex-start;
    flex-direction: column;
}

::-webkit-scrollbar-track {
    width: 10px;
    background: #ffba08;
	border-radius:15px;
}

::-webkit-scrollbar {
    width: 10px;
    background:#ffba08;
	border-radius:15px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background: white;
	border-radius:15px;
}

.camada1r{
    display: flex;
    width:100vw;
    height:600px;
    
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.painel-apresentador{
    display:flex;
    width:80vw;
    height:85%;
    background-color:#EDF2F4;
    border-radius:30px;

    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.quadro-apresentador{
    display:flex;
    height: 80%;
    width: 80%;
    background-color:#8d99ae;
    border-radius: 30px;

    justify-content: space-evenly;
    align-items: center;
    flex-direction:column;
}

.foto-apresentador{
    height: 95%;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

.nome-apresentador{
    font-size: 18px;
    color: #FFF;
}

.painel-botoes{
    display:flex;
    height:10%;
    width:50%;

    justify-content:space-around;
    align-items:center;
    flex-direction:row;
}

.microfone{
    width:60px;
    height:60px;
    outline:none;
    border-radius:30px;
    background-color: #f48c06;
    border:3px solid #f48c06;
    transition: 0.3s ease-in-out;
}

.microfone:hover{
    background-color: white;
}

.microfone:hover .icone-reunioes-mic{
    color: #f48c06;
}

.icone-reunioes-mic{
    color: white;
}

.camera{
    width:60px;
    height:60px;
    outline:none;
    border-radius:30px;
    background-color: #f48c06;
    border:3px solid #f48c06;
    transition: 0.3s ease-in-out;
}

.camera:hover{
    background-color: white;
}

.camera:hover .icone-reunioes-camera{
    color: #f48c06;
}

.icone-reunioes-camera{
    color: white;
}


.camada2r{
    display: flex;
    width:100vw;
    height:600px;
    margin:20px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caixa-input{
    display: flex;
    width:80vw;
    height:600px;
    background-color:#ffba08;
    border-radius: 30px;
    padding:10px;

    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.caixa-titulo{
    display:flex;
    width:stretch;
    height:30%;

    justify-content: center;
    align-items: center;

}

.caixa-chat{
    display:flex;
    width:95%;
    height:85%;
    overflow-y: scroll;
    margin-bottom:10px;

    justify-content: center;
    align-items: center;
    align-content:center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.caixa-texto-input{
    display:flex;
    width:stretch;
    height:35%;
    outline: none;
    background-color:  #e5e5e5;
    border-radius: 30px;
    border:none;
    overflow-wrap: break-word;
    padding:10px;
    
    justify-content: center;
    align-items: baseline;
}

.input-texto{
    display:flex;
    width:stretch;
    height:stretch;
    background-color:  #e5e5e5;
    border-radius: 30px;
    border:none;
    overflow-wrap: break-word;
    text-align: justify;
    word-break: break-all;
    margin: 5px;
    outline: none;

    justify-content: center;
    align-content: center;
}

.submit{
    display:flex;
    width:20px;
    height:20px;;
    border-radius: 10px;
    border:none;
    outline:none;

    justify-content: center;
    align-content: center;
}

.botao-submit-reunioes{
    color:#ffba08;
    background: transparent;
}