.conteudo-servicos-empregada{
    display:flex;
    width: 100vw;
    height:100vh;

    justify-content: center;
    align-items:center;
    flex-direction: row;
}

.perfil-empregada{
    display:flex;
    width:300px;
    height:450px;
    padding:30px;
    margin:30px;
    box-shadow: -5px 5px 5px -5px rgb(0,0,0,0.3);

    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.perfil-empregada1{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
}

.perfil-empregada2{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
}