.painel{
    display: flex;
    flex-shrink: initial;
    flex-direction: row;
    overflow-wrap: break-word;
    color: white;
    

}

.segunda {
    position: absolute;
width: 800px;
height: 55px;
left: 220px;
top: 201px;

background: #F48C06;
border-radius: 10px;
border:none;
outline: none;
font-size: 22px;
}

.comentario{
position: absolute;
width: 620px;
height: 55px;
left: 220px;
top: 301px;
text-align: start;
background: #F48C06;
border-radius: 10px;
border:none;
outline: none;
font-size: 22px;
}

.insira{
    position: absolute;
    font-family: cursive;
    top: 165px;
    left: 225px;
    color: black;
}

